<div style="text-align:center">
  <h1>{{title}}</h1>
  <img [src]="logo">
  <mat-card>
    <app-search [placeholder]="placeholderText" (myChange)="setTitle($event)">
      <div #search>1</div>
      <div #search>2</div>
      <div #search>3</div>
    </app-search>
  </mat-card>
  <span [routerLink]="['']" [queryParams]="{_limit: 2, _page: 2}">Query Params</span>
  <span (click)="navigate()">Go to page</span>
  <span [routerLink]="[{ outlets: { popup: [''] } }]">Popup</span>
  <!-- <span [routerLink]="['', {outlets: {'myoutlet' } }">NotFound</span> -->

  <div *appAccess="['admin']">
    Only for admin
  </div>

  <div class="wrapper">
    <div class="products">
      <app-products
        [products]="products$ | async"
        [search]="title"
        (onSetActiveItem)="setActiveItem($event)"
        (onAddToCart)="addToCart($event)">
      </app-products>
    </div>
    <div class="cart">
      <button routerLink="" routerLinkActive="active">About Us</button>
      <button routerLink="/cart">Cart</button>
      <button routerLink="/form" routerLinkActive="active">Form</button>

     <router-outlet></router-outlet>

     <router-outlet name="myoutlet"></router-outlet>
        <!-- <app-cart></app-cart> -->
    </div>
  </div>



</div>