<div style="text-align:center">
  <h1>{{title}}</h1>
  <img [src]="logo">
  <mat-card>
    <app-search [placeholder]="placeholderText" (myChange)="setTitle($event)">
      <div #search>1</div>
      <div #search>2</div>
      <div #search>3</div>
    </app-search>
  </mat-card>

  <div *appAccess="['admin']">
    Only for admin
  </div>

  <div class="wrapper">
    <div class="products">
      <app-products
        [products]="products$ | async"
        [search]="title"
        [activeItem]="activeItem"
        (onSetActiveItem)="setActiveItem($event)"
        (onEdit)="edit($event)"
        (onAddToCart)="addToCart($event)">
      </app-products>
    </div>
    <div class="cart">
        <app-cart></app-cart>
    </div>
  </div>



</div>